* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {
  background-image: url(../src/assets/images/rf-store-img.jpg);
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  background-color: #f9c9b8;
}